.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-color: #222;
    flex-wrap: wrap;
    gap: 40px;
}

.card {
    position: relative;
    width: calc(33.33% - 40px); /* Each card takes up roughly one-third of the container width, minus the gap */
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #222;
    color: white;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.card img {
    width: 300px;
    border-bottom: 5px solid yellow;
}

.card .title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.card .title:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: yellow;
}

.cardContainerError {
    background-color: rgb(22, 22, 22);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: rgb(22, 22, 22);
    border-radius: 10px;

}

.cardError {
    display: flex;
    justify-content: center;
}