.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    border: 1px solid black;
    gap: 20px;
  }

  .UserButton {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    margin: 5px 0;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}

.UserButton:hover {
    background-color: rgb(255, 183, 50);
}

.UserButton a {
    display: flex;
    align-items: center;
    gap: 20px;
}



.singleColumnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroItem,
.userItem {
  display: flex;
  flex-direction: column;
  width: 100%; 
  margin-bottom: 20px;
}

.heroImage img,
.userImage img {
  max-width: 100%;
  height: auto;
}

.heroContent,
.userContent {
  padding: 10px;
}

.heroResume,
.userResume {
  font-size: 14px;
  color: #666;
}

