table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color: #1a1a17;
  }

  th {
    background-color: #1a1a17;
  }

  .tierlistContainer {
    width: 100%;
    max-width: 120vh;
    margin: 0 auto;
  }

  .tierlistTable {
    width: auto;
    border-collapse: collapse;
  }

  .tierlistTable th,
  .tierlistTable td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }

  .tierlistTable th {
    background-color: #1a1a17;
  }

  .tierlistSPlus {
    background-color: #ff7f7f;
    color: black;
    width: 100px;
  }

  .tierlistAPlus {
    background-color: #ffbf7f;
    color: black;
    width: 100px;
    text-align: center;
  }

  .tierlistA {
    background-color: #ffdf7f;
    color: black;
    width: 100px;
    text-align: center;
  }

  .tierlistB {
    background-color: #ffff7f;
    color: black;
    width: 100px;
    text-align: center;
  }

  .tierlistC {
    background-color: #bfff7f;
    color: black;
    width: 100px;
    text-align: center;
  }

  td img {
    width: 100px;
    height: auto;
    margin-right: 5px;
  }