.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    max-width: 100%;
    position: relative;
  }
  
  .modalContent h2 {
    color: black;
  }
  
  .modalContent p {
    color: black;
  }

  .modalContent a {
    color: black;
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: black;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 5px;
    color: black;
  }
  
  .formGroup input,
  .formGroup textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  .saveButton {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .saveButton:hover {
    background-color: darkgreen;
  }
  
  .cancelButton {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .cancelButton:hover {
    background-color: darkgray;
  }
  
  .editButton {
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .editButton:hover {
    background-color: darkblue;
  }
  
  .deleteButton {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .deleteButton:hover {
    background-color: darkred;
  }
  
  .UserButton {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    margin: 5px 0;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold;
  }
  
  .UserButton:hover {
    background-color: rgb(255, 183, 50);
  }
  
  .UserButton a {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  
  .newsTable {
    width: 100vh;
    border-collapse: collapse;
  }
  
  .newsTable th, .newsTable td {
    padding: 15px; 
  }
  
  .newsTable th {
    text-align: left; 
  }
  
  .newsTable td img {
    max-width: 100px;
    height: auto; 
  }
  
  .newsTable td button {
    margin-right: 10px;
  }
  
  .newsTable td .buttonContainer {
    display: flex;
    gap: 10px; 
  }