.carousel-container {
    width: 100%;
    max-width: 1200px; /* Ajustez cette valeur selon vos besoins */
    margin: 0 auto;
  }
  
  .carousel-item {
    height: 800px; 
    width: 800px;
  }
  
  .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
  }
  
  .carousel-caption h3 {
    font-size: 2.5rem;
  }
  
  .carousel-caption p {
    font-size: 1.2rem;
  }