.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
  color: black;
  max-height: 90vh; 
  position: relative;
  overflow: hidden;
}
.modalContent h2 {
  color: black;
}

.modalBody {
  max-height: 80vh; 
  overflow-y: auto; 
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.heroDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heroIcon {
  max-width: 100px;
  margin-bottom: 10px;
}

.heroDetails p {
  margin: 5px 0;
}

.heroDetails ul {
  list-style-type: none;
  padding: 0;
}

.heroDetails li {
  margin-bottom: 5px;
}

  
.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
}

.formGroup input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.saveButton, .cancelButton {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.saveButton {
  background-color: #4CAF50;
  color: white;
}

.cancelButton {
  background-color: #f44336;
  color: white;
}

.error {
  color: red;
  margin-bottom: 15px;
}
  
  .deleteButton {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .deleteButton:hover {
    background-color: darkred;
  }
  
  .UserButton {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    margin: 5px 0;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold;
  }
  
  .UserButton:hover {
    background-color: rgb(255, 183, 50);
  }
  
  .UserButton a {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  
  .newsTable {
    width: 100vh;
    border-collapse: collapse;
  }
  
  .newsTable th, .newsTable td {
    padding: 15px; 
  }
  
  .newsTable th {
    text-align: left; 
  }
  
  .newsTable td img {
    max-width: 100px;
    height: auto; 
  }
  
  .newsTable td button {
    margin-right: 10px;
  }
  
  .newsTable td .buttonContainer {
    display: flex;
    gap: 10px; 
  }


  .heroInfos {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

.heroInfos h2 {
  color: black;
}