.newsContainer {
    background-color: rgb(22, 22, 22);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: rgb(22, 22, 22);
    border-radius: 10px;

}
.news {
    display: flex;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
  
.newsImage {
    width: 200px;
    flex-shrink: 0;
    padding: 10px;
    margin-top: 10px;
}
  
.newsImage img {
    width: 100%;
    height: 90px;
    border-radius: 10px;
}
  
.newsContent {
    flex-grow: 1;
    padding: 10px;
}
  
.newsContent h2 {
    margin-top: 0;
}
  
.newsContent p {
    margin-top: -10px;
    margin-bottom: 10px;
}
  
.newsResume {
    font-size: 15px;
}

.newsError {
    display: flex;
    justify-content: center;
}

hr {
    width: 80%;
    background-color: rgb(58, 58, 58);
    height: 1px;
    border: none;
}

.newsLatest {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .news {
        flex-direction: column;
        align-items: center;
        margin-top: -10px;
    }
    .newsResume {
        display: none;
    }
}